<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>title</title>
		<!-- CSS -->
		{{!-- STILL not loading!!! --}}
		<link rel="stylesheet" href="assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
		<!-- GOOGLE FONT -->
		{{!-- 		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet"> --}}
		<!-- GOOGLE ICONS -->
		{{!-- 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"> --}}
			
		</head>
		<body>
			{{!-- STILL not loading --}}
			<img src="assets/img/bburgerlogo.png">
			{{{ body }}}
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			{{!-- <script src="assets/js/burgers.js"></script> --}}
		</body>
		
	</HTML>